.btn {
    background-color: #f13C20;
    font-family: var(--title-font);
    font-weight: 500;
    border-radius: 10px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    width: 50%;
    height:30px;
    color: var(--text-color-a);
    margin-bottom:10px;
  }
  
  .btn:active {
    background-color: #ad1d07;
    transform: scale(0.98);
  }